.mainTitle{
  font-family: 'Sigmar One';
  font-size: 48px;

}


.Asap{font-family: 'Asap', sans-serif;font-size: 48px; }
.Passion {font-family: 'Passion One', cursive;font-size: 48px; }
.Sigmar {font-family: 'Sigmar One', cursive;font-size: 48px; }
.Bevan{font-family: 'Bevan', cursive;font-size: 48px; }
