body{
  background-color: #C2FCFF;
}

.mainTitle {
  text-align: center;
 }

.mainTitle a{

  font-family: 'Sigmar One';
  font-size: 70px;
  color: red;
  text-align: center;
  text-decoration:none;

}

a{
  font-family: 'Bevan';
  font-size: 25px;
}

a:hover {
  /*background-color: green;*/
}

label{
  /*font-family: 'Passion One';
  /*font-style: oblique;*/
  /*font-size: 20px;*/
  font-family: 'Asap';
  font-style: sans-serif;
  font-size: 20px;
}


input[type=submit] {
  font-family: 'Bevan';
  font-size: 20px;
  cursor:pointer;
  /*border-radius: 5px; */
}


.Asap{font-family: 'Asap', sans-serif;font-size: 48px; }
.Passion {font-family: 'Passion One', cursive;font-size: 48px; }
.Sigmar {font-family: 'Sigmar One', cursive;font-size: 48px; }
.Bevan{font-family: 'Bevan', cursive;font-size: 48px; }
