body{
  background-color: #C2FCFF;
  font-family: 'Passion One';
  font-size: 25px;
  font-style: normal;
}

.mainTitle {
  text-align: center;
 }

.mainTitle a{

  font-family: 'Sigmar One';
  font-size: 70px;
  color: red;
  text-align: center;
  text-decoration:none;

}

a{
  font-family: 'Bevan';
  font-size: 25px;
}

a:hover {
  /*background-color: green;*/
}

label{
  /*font-family: 'Passion One';
  /*font-style: oblique;*/
  /*font-size: 20px;*/
  font-family: 'Asap';
  font-style: sans-serif;
  font-size: 20px;
}

.form-control{
  font-family: 'Bevan';
  font-size: 20px;
  color: black;

}


input[type=submit] {
  font-family: 'Bevan';
  font-size: 20px;
  cursor:pointer;
  /*border-radius: 5px; */
}

.btn.btn-info {
  font-family: 'Bevan';
  font-size: 20px;
  cursor:pointer;
}

th{
  font-family: 'Sigmar One';
  font-size: 30px;
  font-stretch: expanded;
  color: green;
}

#weather{
  color :#1B998B;
  text-align: center;
  margin: 0 auto;
}

p1{
  color:#1B998B;
  font-size: 40px;
  text-align: center;
}
p2{
  color:black;
  font-family: 'Asap';
  font-style: sans-serif;
  font-size: 20px;

}
p3{
  color:#FC1D42;
  font-family: 'Asap';
  font-style: sans-serif;
  font-size: 50px;
}
p4{
  color: black;
  font-family: 'Asap';
  font-style: sans-serif;
  font-size: 20px;
}
p5{
  color: #FF9B71;
  font-family: 'Asap';
  font-style: sans-serif;
  font-size: 20px;
}

/*#1B998B
#2D3047
#FC1D42
#FFFD82
#FF9B71*/


.Asap{font-family: 'Asap', sans-serif;font-size: 48px; }
.Passion {font-family: 'Passion One', cursive;font-size: 48px; }
.Sigmar {font-family: 'Sigmar One', cursive;font-size: 48px; }
.Bevan{font-family: 'Bevan', cursive;font-size: 48px; }
