<!DOCTYPE html>
<html>
<head>
	<!-- Use the 'title' property to render a page title  -->

</head>
<body>


	<!-- Render the signup form  -->
	<form action="/todo/new" method="post">
		<div>
			<label>Task:</label>
			<input type="text" name="task" />
		</div>
		<div>
			<label>Completed:</label>
			<input type="text" name="completed" />
		</div>
    <div>
			<input type="submit" value="Sign up" />
		</div>
	</form>


</body>
</html>
