<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Asap|Bevan|Passion+One|Sigmar+One">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <title>My To do list - <%= title %></title>
  </head>
  <body>

        <div class="row">
  <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
  <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
  <!-- Optional: clear the XS cols if their content doesn't match in height -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-6 col-md-4">.col-xs-6 .col-sm-4</div>
</div>


      <!-- <a href="/"><div class="mainTitle"> My to do list </div></a> -->

      <div class="mainTitle">  <a href="/"> My to do list  </a> </div>

      <% include navbar %>

      <%- body %>

    </div>

<!-- <a href="/todos">My Task List</a>
<a href="/todo/new">add Task </a> -->
<!--
      <div class="Asap">Normal Text</div>
            <div class="Passion">Not Yet here</div>
            <div class="Sigmar">Main Title!</div>
            <div class="Bevan">Link and button text!</div> -->



    </div>
    <!-- <script src="/reload/reload.js"></script> -->
  </body>


</html>
