<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Asap|Bevan|Passion+One|Sigmar+One">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <title>My To do list - <%= title %></title>
  </head>
  <body>

    <div class="container-fluid">


      <!-- <a href="/"><div class="mainTitle"> My to do list </div></a> -->

      <div class="mainTitle">  <a href="/"> My to do list  </a> </div>

      <!-- <span style="font-family: 'Sigmar One';
      font-size: 70px;
      color: red;text-align: center;">My to do list</span> -->

    </div>

      <% include navbar %>

      <%- body %>

      <a href="/todos">Todos List</a> |
      <a href="/todo/new">Add New List</a>




      <div class="Asap">Making the Web Beautiful!</div>
            <div class="Passion">Making the Web Beautiful!</div>
            <div class="Sigmar">Making the Web Beautiful!</div>
            <div class="Bevan">Making the Web Beautiful!</div>



    </div>
    <script src="/reload/reload.js"></script>
  </body>


</html>
