  	<!-- Display flash messages  -->
	<% for(var i in messages) { %>
	   <div class="flash"><%= messages[i] %></div>
	<% } %>

	<!-- Render the signin form  -->

<form class="form-horizontal" action="/signin" method="post">
	<div class="form-group">
		<label class="col-sm-2 control-label">Username</label>
		<div class="col-sm-10">
		<input type="text" name="username" class="form-control" />
	</div>
</div>


	<div class="form-group">
		<label class="col-sm-2 control-label">Password</label>
		<div class="col-sm-10">
		<input type="password" name="password" class="form-control" />
	</div>
</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
		<input type="submit" class="btn btn-success" value="Sign In" />
		</div>
	</div>
</form>





	<!-- <form class="navbar-form navbar-center" 	action="/signin" method="post">
		<div class="form-group">
			<label>Username:</label>
			<input type="text" name="username" />
		</div>
		<div class="form-group">
			<label>Password:</label>
			<input type="password" name="password" />
		</div>
			<div class="form-group">
			<input type="submit" class="btn btn-success" value="Sign In" />

		</div>
	</form> -->

<!-- <ul> -->
	<!-- Render the OAuth authentication links  -->
	<!-- <li><a href="/oauth/facebook">Sign in with Facebook</a></li>
	<li><a href="/oauth/twitter">Sign in with Twitter</a></li>
	<li><a href="/oauth/google">Sign in with Google</a></li> -->
<!-- </ul> -->
