
	<!-- Render the edit form  -->
	<form class="navbar-form navbar-center" action=<%="/todo/" + todo.id + "?_method=PATCH"%> method="post">
		<div class="form-group">
			<label>Task:</label>
			<input type="text" name="task" value="<%=todo.task%>" />
		</div>


		<div class="form-group">
		  <label class="radio-inline"><input type="radio" name="completed" value=true
				<% if (todo.completed ) { %> checked <% } %> >Task Completed</label>
			<label class="radio-inline"><input type="radio" name="completed" value=false
				<% if (!todo.completed ) { %> checked <% } %> >Task Not completed</label>
		</div>



    <div class="form-group">
			<input type="submit" class="btn btn-success" value="I am done with editing" />
		</div>
	</form>

	<!-- Render the edit form  -->
	<!-- <form action=<%="/todo/" + todo.id + "?_method=delete"%> method="post">
			<input type="submit" value="Delete" />
		</div>
	</form> -->
